.crypto-page {
    .currency-select {
        margin: 20px;
        width: 200px;
    }
    ul.crypto-list li {
        list-style: none;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;

        .content {
            margin-left: 20px;
            text-align: left;
            width: 250px;

            .name {
                text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
            }
        }
    }
}
